body{
	overflow-x: hidden;
}
header {
	width:100%;
}
.navbar.navbar-default{
	background-color: rgba(76, 76, 76, 0);
	width: 100%;
	border:none;
} 	
.foto{
	height: 550px;
}
.icon-pencil{
	position: relative;
}
.margin-menu{
	margin-left: 35%;
}
.fondo{
	background-image: url(../image/large.jpg);
	background-size: cover;
}
.text-center{
	text-align: center;
}
.text-white{
	color: white;
}
.blue{
	color: blue;
}
.gray{
	color: gray;
}
.margin-icono{
	margin-left: 40%;
}
.margint{
	margin-top: 10%;
}
.margint2{
	margin-top: 5%;
}
.marginb{
	margin-bottom: 20%;
}
.marginb2{
	margin-bottom: 5%;
}
.padd{
	padding: 3%;
}
.fondo-azul{
	background-color: blue;
}
.opacidad{
	color: white;
	opacity: .3;
}
.ejemplo-img{
	width: 30%;
	display: inline-block;
}
.block{
	display: inline-block;
}
.bckg{
	background-color: #fff;
}
hr#arw {
	border: 1px solid gray;
	text-align: center;
}
hr#arw:after {
	content: url("../image/separador.png");
	position: relative;
	top: -50px;
}
hr{
	margin-top: 8%;
}
.fondo-footer{
	background-color: #0B173B;
}
.margin-fot{
	margin-left: 5%;
}
.size{
	font-size: 250%;
	box-shadow:2px 2px 5px #999;
	padding: 5%;
}
.size2{
	font-size: 200%;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
a:hover{
	text-decoration: none;
}