ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
 li {
    float: left;
} 

a {
    display: inline-block;
    padding-top: 5px;
    /* padding-left: 10px; */
	 margin-left: 2%; 
}
.fondo{
	background-image: url(../image/large.jpg);
	background-size: cover;
}
.text-center{
	text-align: center;
}
.margint{
	margin-top: 10%;
}
.margint2{
	margin-top: 5%;
}
.marginb{
	margin-bottom: 20%;
}
.marginb2{
	margin-bottom: 5%;
}
.fondo-azul{
	background-color: blue;
}
.ejemplo-img{
	width: 30%;
	display: inline-block;
}
.block{
	display: inline-block;
}
.bckg{
	background-color: #fff;
}
